# build folders
bin/
obj/

# user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider / VS Code
.idea/
.vscode/

# logs
*.log

# OS
.DS_Store

# env
.env

# uploaded child avatars (keep folder via .gitkeep)
KorakPoKorak.API/wwwroot/uploads/children/*
!KorakPoKorak.API/wwwroot/uploads/children/.gitkeep
